@import "../assets/scss/vars";

.plan {
    background-color: $white;
    border-radius: .5rem;
    box-shadow: 0 0 12px 2px rgba($gray-blue-light, .2);
    margin: 0 auto 2rem;
    padding: 2rem 1.5rem;
    position: relative;
    width: 100%;
    z-index: 2;

    @media (min-width: 640px) {
        max-width: 560px;
    }

    @media (min-width: 1024px) {
        margin: 0;
        max-width: 350px;
        padding: 2rem;

        &:first-child {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

        &:nth-child(3)  {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }

    &--bestseller {
        background: linear-gradient(to bottom, $gradient-light, $gradient-dark);

        @media (min-width: 1024px) {
            padding: 3.5rem 1.5rem;
            z-index: 3;
        }
        
        .plan {
            &__name,
            &__price,
            &__features li {
                color: $white;
            }

            &__button {
                background: $white;
                color: $gradient-dark;

                &:hover {
                    background: transparent;
                    border-color: $white;
                    color: $white;
                }
            }

            &__features li {
                border-bottom-color: $gradient-light;

                &:first-child {
                    border-top-color: $gradient-light;
                }
            }
        }
    }

    &__name {
        color: $gray-blue;
        font-size: 1.125rem;
        margin: 0 0 2rem;
    }

    &__price {
        color: $gray-blue-dark;
        font-size: 4.25rem;
        line-height: 1;
        margin: 0 0 1.75rem;

        span {
            font-size: 2.5rem;
            display: inline-block;
            margin-bottom: 12px;
            margin-right: 6px;
            vertical-align: middle;
        }
    }

    &__features {
        list-style: none;
        margin: 0 0 2rem;
        padding: 0;

        li {
            border-bottom: 1px solid $gray-blue-light;
            color: $gray-blue;
            display: block;
            padding: 1rem 1.25rem;

            &:first-child {
                border-top: 1px solid $gray-blue-light;
            }
        }
    }

    &__button {
        background: linear-gradient(to right, $gradient-light, $gradient-dark);
        border: 1px solid transparent;
        border-radius: .4rem;
        color: $white;
        cursor: pointer;
        display: inline-block;
        font-size: 13px;
        letter-spacing: .1em;
        line-height: 1;
        padding: 1rem 0;
        position: relative;
        text-transform: uppercase;
        transition: all .2s ease-in-out;
        width: 100%;

        &:hover {
            background: transparent;
            border: 1px solid $gray-blue;
            color: $gradient-dark;
        }
    }
}
